
body{
    text-align: center;
    margin-top: 30;
}

header{
    display: flex;
    justify-content:center;
}

section{
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-around;
    background-color: grey;
    color: white;
    border: solid;
    margin-top: 0.3;
}

p{ 
    text-align: center;
    margin-top: 50;
}

main{
    border: solid whitesmoke;
    border-right: 5%;
    border-left: 1 px;
}

picture{ 
 margin-left: 80;
 margin-right: 80;
}

.main2{
    border:solid;
    border-right: 5%;
    border-left: 1 px;
}

base{
    margin-left: -500;
}
